body {
    font-family: 'Arial', sans-serif;
    background-color: #A7C8E3;
    padding: 30px;
    text-align: center;
  }
  
  #gif-inicial {
    width: 300px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-family: 'Georgia', serif;
    color: #333;
    margin-top: 20px;
  }
  
  #nova-tarefa {
    width: 50%;
    padding: 10px;
    font-size: 16px;
  }
  
  #categoria-tarefa {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  #adicionar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .remover {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .checkbox-tarefa {
    margin-right: 10px;
  }
  
  .categoria {
    font-weight: bold;
    margin-left: 10px;
  }
  